#vehicle-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the header */
header {
    background-color: #1E90FF; /* Change this to your desired header color */
    color: #FFFFFF; /* Change this to your desired text color */
    padding: 10px 0;
    text-align: center;
}

/* Style the logo */
.logo {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
}

/* Style the navigation links */
.nav-links {
    list-style: none;
    margin-top: 10px;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #FFFFFF; /* Change this to your desired link color */
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #FFD700; /* Change this to your desired hover color */
}
