#vehicle-container {
  display: flex;
  flex-wrap: wrap; /* Enable wrapping if there are too many cards */
  justify-content: center; /* Center the cards horizontally */
  gap: 10px; /* Add some space between the cards */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.cdnfonts.com/css/antiqua-2');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font: normal 18px 'Book Antiqua', sans-serif;
    background: #C9D1C8;
    color: #333;
}

main {
    min-height: 100vh;
}

header {
    background: #5B7065;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center; /* Center header text horizontally */
}

    h1{
        font: normal 4em 'Book Antiqua', serif;
        text-align:center;
    }

    #vehicle-input {
        width: 200px; /* Adjust the width as needed */
        margin: 0 auto; /* Center the input field horizontally */
        margin-top: 20px;
    }
    .form-group {
        text-align: center;
    }

    /* Add margin to the button to create spacing */
    #submit-button {
        margin-top: 30px;
    }

    .card {
        background-color: #e4e8e3;
    }




nav {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

nav a {
    flex-grow: 1;
    text-align: center;
    padding: 1em;
    position: relative;
}

/* Animation */
nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    transform: scaleX(0);
    background: #333;
    transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
}

nav a:hover::after {
    transform: scaleX(1);
}


/* Style for all buttons (Delete, Edit, Add Gas Filling) */
.btn-danger,
.btn-primary,
.btn-success {
    background-color: #9ac6f5; /* Change to your desired color */
    border-color: #9ac6f5; /* Change border color if needed */

    padding: 5px 15px; /* Adjust the padding for button size */
    border-radius: 10px; /* Adjust the border-radius for rounded corners */
    margin-right: 10px; /* Add margin to create distance between buttons */
    font-size: 14px; /* Adjust font size if needed */
}

.btn-danger {
    background-color: #f29ba3; /* Change to your desired color */
    border-color: #f29ba3; /* Change border color if needed */
}

/* Change the color of the success button (Add Gas Filling) */
.btn-success {
    background-color: #80a688; /* Change to your desired color */
    border-color: #80a688; /* Change border color if needed */
}
